sfGuardUser:
  admin:
    username:       admin
    password:       admin
    is_super_admin: true

sfGuardPermission:
  admin:
    name:           admin
    description:    Administrator permission

sfGuardGroup:
  admin:
    name:           admin
    description:    Administrator group

sfGuardGroupPermission:
  admin:
    Group:       admin
    Permission:  admin

sfGuardUserGroup:
  admin:
    Group:       admin
    User:        admin

